<ion-view view-title="Challenge">
  <ion-content>
    <div class="cor-con" ng-controller="CorController as cCtr">
        <div class="cor-ext">
          <div class="flip">
            <a href="" ng-repeat="cor in cCtr.cors.content track by $index" ng-click="cCtr.changeTrack($index)">
              {{cor.qs[0].templ ?  cor.qs[0].templ : 'Challenge ' + $index}}</a>
          </div>
          <div class="cor-header" ng-controller="UserController as uCtr">
            <h4>Welcome!</h4>
            <h5>Are You Ready To Use your Math Skills To Save The Planet?</h5>
          </div>
          <!-- Begin repeat of dynamically created part of page -->
          <div ng-repeat="q in cCtr.cor.qs track by $index"class="cor" ng-class="q.class">
            <!-- This just uses angular directives to insert pre-made templates into
            the page for content that is not dynamically created e.g. introduction.
            See directives.js module -->
            <templ ng-if="q.templ === 'Intro'" tsrc="intro"></templ>

            <div ng-if="q.lab" class="lab">
              <span ng-repeat="lab in cCtr.progress.labs[cCtr.track] track by $index"
                class="label label-danger lab">{{lab}}</span>
            </div>
            <div ng-if="q.imgs" ng-repeat="img in q.imgs" ng-class="img.class" >
            </div>
            <!--img ng-repeat="img in q.imgs[0].arr track by $index"
              ng-src={{q.imgs[0].src}} height="40" width="40" alt="first" /-->

            <p ng-repeat="ctxt in q.ctxts" compile="ctxt"></p>
            <p ng-repeat="txt in q.txts">{{txt}}</p>
            <input ng-if="q.qt==='txtInput'" type="text"
              ng-model="cCtr.progress.ans[cCtr.track][$index]" value="">
            <textarea ng-if="q.qt==='txtArea'" rows={{q.qtR}}
              ng-model="cCtr.progress.ans[cCtr.track][$index]" value="">
            </textarea>
            <button ng-if="q.sub" class="button button-small button-balanced" type="button"
              ng-click="cCtr.answer($index)">Answer! <i class="icon ion-android-hand"></i></button>
            <div ng-if="cCtr.rights[$index] && (cCtr.tries[$index] !== 0)"
              class="answer alert alert-success">
              <i class="icon ion-checkmark-circled"></i> Awesome!<br>
            </div>
            <div ng-if="!cCtr.rights[$index] && (cCtr.tries[$index] !== 0)"
              class="answer alert alert-danger" ng-click="cCtr.forceHint($index)">
                Try again or see the <b>HINT </b> <i class="icon ion-help"></i></a>
            </div>
            <div ng-if="cCtr.cheats[$index]" class="alert alert-danger">
              <button type="button button-small" class="close" ng-click="cCtr.toggleCheat($index)" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <p ng-repeat="cheat in cCtr.genCheat">{{cheat}}</p>
            </div>
            <div ng-if="cCtr.hints[$index]" class="alert alert-warning hint">
              <p ng-repeat="hint in q.hs">{{hint}}</p>
            </div>
            <button ng-if="q.hs" a href="" class="button button-small button-balanced" type="button" ng-click="cCtr.toggleHint($index)">
              {{cCtr.hints[$index] ? "Hide Hint" : "Show Hint"}} <i class="icon ion-help"></i></button>
            <button ng-if="q.genCheat" a href="" class="button button-small button-balanced" type="button" ng-click="cCtr.toggleCheat($index, q.genCheat)">
              {{cCtr.cheats[$index] ? "Hide Answer" : "Show Answer"}} <i class="icon ion-plus-square"></i></button>
          </div>
          <!-- end repeat-->
          <div class="flip">
            <a href="" ng-click="cCtr.shift(false)"><i class="icon ion-arrow-left-c"> GO BACK</i></a>
            <a href="" ng-click="cCtr.repeat()"><i class="icon ion-refresh"></i> REPEAT</a>
            <a href="" ng-click="cCtr.shift(true)">NEXT <i class="icon ion-arrow-right-c"></i></a>
            <a href="" ng-click="cCtr.shift(true)">LEAVE <i class="icon ion-log-out"></i></a>
            <a href="#/app/user">CHECK PROGRESS <i class="icon ion-person"></i></a>
          </div>
          <div class="pad">

          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
