<ion-view view-title="Green Maths">
  <ion-content>
    <div class="cor-header textc">
            <div class="">
              <h3>Welcome To Green Maths!</h3>
              <h4>Children Can Use Their Math Skills To Save The Planet.</h4>
              <h4>If you have trouble signing in or navigating this prototype:</h4>
              <button ng-click="openHelp()" class="button button-small button-balanced"
               role="button">Help <i class="fa fa-question-circle"></i></button>
            </div>
            <div class="bg-green1 bd1">
              <h3>It's Friendly!</h3>
              <img src="images/tree1.svg" height="100px">
              <h4>And It's Algebra!</h4>
            </div>
            <div ng-click="hCtr.initCs()" class="bg-brown2 bd1" >
              <h3>Take The Challenge!</h3>
              <img src="images/fishmex.svg" height="100px">
              <h4>It's Fun!</h4>
            </div>
            <div class="bg-brown1 bd1">
                <h3>Set Up Your Child's Future:</h3>
                <br>
                <h4>Teaches Lateral Thinking.</h4>
                <h4>Extends The School Syllabus.</h4>
                <h4>Designed According To Experts.</h4>
            </div>
            <div class="bg-green2 bd1">
              <a href="" ng-click="hCtr.initCs()">
                <h2>Come On In!</h2>
                <h2><i class="fa fa-pencil-square-o"></i></h2>
                <h4>Pick A Challenge!</h4>
              </a>
            </div>
            <div class="pad">

            </div>
        </div>
  </ion-content>
</ion-view>
